.headerStyle{
    float: right;
    >button{
        display:flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        font-size:25px;
        color:var(--gray-1000);
        border: 0;
        cursor: pointer;
        >svg{
        color: var(--gray-1000);
        width: 3rem;
        height: 3rem;
        
        }
    }
}
.mainEditingPage{
        display: flex;
        align-items: center;
        flex-direction: column;
}

.title{
    display: flex;
    align-items: center;
   margin-top: 2.5rem;
   margin-left: 1rem;
   font-size: 2rem;
   font-weight: bolder;
   color: var(--gray-1000);



}

.Wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow:1;

    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 5rem;
    width:80vw;
    border-radius: 5%;

    background:var(--purple-500);
}

.UserBox{
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right:2rem;
    margin-bottom: 1.5rem;

    width: 50vw;
    padding: 1rem;

    border: 1px solid var(--purple-300);
    color: var(--white);

}

.BoxToDo{
    width: 30vw;
    height: 1.5rem;
    
   // margin-right: 17rem;
}

.CreateToDo{

    button {
   
        margin-bottom:40px;
        margin-top: 20px;
        height: 50px;
        border-radius: 8px;
        font-weight: 500;
        background: var(--green-500);
        color: #fff;
        padding: 0 32px;
     
        display: flex;
        align-items: center;
        justify-content: center;
     
        cursor: pointer;
        border:0;
     
        transition: filter 0.2s;
     
        img{
            margin-left:8px;
        }
     
        &:not(:disabled):hover{
            filter:brightness(0.9)
        }
     
        &:disabled{
            opacity: 0.6;
            cursor: not-allowed;
        }
     
     }
         
         
     
}

.addTodoSeparator{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    button {
   
        margin-left: 8.5rem;
        margin-top: 5px;
        height: 30px;
        border-radius: 8px;
        font-weight: 500;
        background: var(--green-500);
        color: #fff;
        padding: 0 32px;
     
        display: flex;
        align-items: center;
        justify-content: center;
     
        cursor: pointer;
        border:0;
     
        transition: filter 0.2s;
     
        img{
            margin-left:8px;
        }
     
        &:not(:disabled):hover{
            filter:brightness(0.9)
        }
     
        &:disabled{
            opacity: 0.6;
            cursor: not-allowed;
        }
     
     }
         

}

.todoAdded{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 1.5rem;
    margin-right:2rem;
    margin-bottom: 1.5rem;

    width: 50vw;
    padding: 1rem;

    border: 1px solid var(--purple-300);
    color: var(--white);

    button{
        
        background: transparent;
        border: 0;
        cursor: pointer;
        >svg{
        color: var(--gray-200);
        width: 1.7rem;
        height: 1.7rem;
        
        }
    }
    .done{
        svg{
            color: var(--green-500)
        }
    }
}

